/* === params.css === */
/* Color ---------------------------------------------------------------- */

:root {

/* Project */

--color-text: #3E2723;
--color-primary: #A67B5B;
--color-secondary: #6F4E37;
--color-background1: #FDFBF6;
--color-background2: #FBF5E8;
--color-background3: #FFF2E3;
--color-background4: #FFE4C6;
--color-block: #FFDDA6;
--color-link: #1558D6; /* 原本是褐綠色 #8A9A5B */

/* Basic */

--color-dark: #222222;
--color-gray: #D5D7DA;
--color-white: #FFFFFF;
--color-blue: #1558D6;
--color-warning: #EA1F30;

/* Others */

--color-tags-orange: #FFA528;
--color-tags-green: #34C759;

}

/* Number ---------------------------------------------------------------- */

:root {

/* Regular */

--number-2: 0.125rem;
--number-4: 0.25rem;
--number-6: 0.375rem;
--number-8: 0.5rem;
--number-10: 0.625rem;
--number-12: 0.75rem;
--number-16: 1rem;
--number-20: 1.25rem;
--number-24: 1.5rem;
--number-32: 2rem;
--number-48: 3rem;
--number-64: 4rem;
--number-96: 6rem;
--number-160: 10rem;

/* Gap */

--gap-content: 0.375rem; /* 6px */
--gap-title: 0.75rem; /* 12px */
--gap-list: 1rem; /* 16px */
--gap-group: 1.5rem; /* 24px */
--gap-object: 2rem; /* 32px */
--gap-page-half: 3rem; /* 48px */
--gap-page: 6rem; /* 96px */

/* Graph */

--number-rounded: 0.375rem;
--number-circle: 100rem;

/* Font-Size */

--text-h1: 3rem; /* 48px */
--text-h2: 2.25rem; /* 36px */
--text-h3: 1.5rem; /* 24px */
--text-h4: 1.25rem; /* 20px */
--text-h5: 1.125rem; /* 18px */
--text-xl: 1.25rem; /* 20px */
--text-lg: 1.125rem; /* 18px */
--text-md: 1rem; /* 16px */
--text-sm: 0.875rem; /* 14px */
--text-xs: 0.75rem; /* 12px */
--text-h2-inside: 1.5rem; /* 24px */
--text-h3-inside: 1.25rem; /* 20px */
--text-h4-inside: 1rem; /* 16px */

}







































/* === components.css === */
/* 目錄 ---------------------------------------------------------------- */

/* Number : 直接控制屬性數值，例如 max-width 或 font-size 等。 */
/* Background Color : 背景顏色。 */
/* Content : 內容排版調整。 */
/* Buttons : 按鈕。 */
/* TAGs : 標籤。 */
/* Column : 柱狀容器。 */
/* Heading : 區塊標題。 */
/* Group Box : 菜單形式的框線群組。 */
/* Cards : 卡片。 */
/* Bookmarks : 書籤型卡片。 */
/* Divider : 分隔線。 */
/* Blocks : 內容區塊。 */



/* Number ---------------------------------------------------------------- */

.max64 {
	max-width: 4rem;
}

.max256 {
	max-width: 16rem;
}

.max640 {
	max-width: 40rem;
}

h2.inside {
	font-size: var(--text-h2-inside);
}

h3.inside {
	font-size: var(--text-h3-inside);
}

h4.inside {
	font-size: var(--text-h4-inside);
}



/* Background Color ---------------------------------------------------------------- */

.background1 {
	background-color: var(--color-background1);
}

.background2 {
	background-color: var(--color-background2);
}

.background3 {
	background-color: var(--color-background3);
}

.background4 {
	background-color: var(--color-background4);
}



/* Content ---------------------------------------------------------------- */

/* Clamp 限制行數 */

.clamp {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

.clamp.line1 {
	-webkit-line-clamp: 1;
}

.clamp.line2 {
	-webkit-line-clamp: 2;
}

.clamp.line3 {
	-webkit-line-clamp: 3;
}

/* Spread 左右撐滿內容 */

.spread {
	display: flex;
}

.spread .title {
	flex: 1 0 0;
}

.spread .content {
	display: flex;
	gap: 1rem;
}

.spread .content p {
	display: inline-block;
	margin-bottom: 0;
}



/* Buttons ---------------------------------------------------------------- */

.button {
	border: 1px solid var(--color-text);
	border-radius: var(--number-rounded);
	padding: var(--number-6) var(--number-16);
	white-space: normal;
}

/* Size */

.button.small {
	padding: var(--number-4) var(--number-10);
	font-size: var(--text-sm);
}

.button.large {
	padding: var(--number-10) var(--number-20);
	font-size: var(--text-lg);
}

.button.exlarge {
	padding: var(--number-16) var(--number-32);
	font-size: var(--text-xl);
}

/* Outline */

.button.outline {
	background-color: transparent;
	color: var(--color-text);
}

.button.outline:hover {
	background-color: var(--color-text);
	color: var(--color-background1);
}



/* TAGs ---------------------------------------------------------------- */

.tags {
	margin-bottom: 0;
	padding-left: 0;
}

.tags li {
	display: inline-block;
	font-size: var(--text-sm);
	padding: var(--number-2) var(--number-6);
	border-radius: var(--number-rounded);
	margin-bottom: var(--number-6);
}

.tags h1,
.tags h2,
.tags h3,
.tags h4,
.tags p {
	margin-bottom: 0;
}

.tags .yolk {
	background-color: var(--color-background3);
	color: var(--color-primary);
}

.tags .green {
	background-color: var(--color-tags-green);
	color: var(--color-white);
}

.tags .orange {
	background-color: var(--color-tags-orange);
	color: var(--color-white);
}

.tags .translucent {
	background-color: #FBF5E88F;
}



/* Column ---------------------------------------------------------------- */

.column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: stretch;
	gap: var(--gap-content);
}

.column h3 {
	font-size: var(--text-h3-inside);
}

.column h1,
.column h2,
.column h3,
.column h4,
.column p {
	margin-bottom: 0;
}

.column h3,
.column h4,
{
margin-top: var(--gap-list);
}

/* Gap */

.column.column-title {
	gap: var(--gap-title);
}

/* 12px */
.column.column-list {
	gap: var(--gap-list);
}

/* 16px */
.column.column-group {
	gap: var(--gap-group);
}

/* 24px */
.column.column-object {
	gap: var(--gap-object);
}

/* 32px */
.column.column-page-half {
	gap: var(--gap-page-half);
}

/* 48px */
.column.column-page {
	gap: var(--gap-page);
}

/* 96px */



/* Heading ---------------------------------------------------------------- */

.heading {
	display: flex;
	align-items: flex-end;
	/* 讓內容從底部對齊 */
}

.heading .heading-title {
	flex: 1;
	/* 讓文字區域佔據圖片的剩餘空間 */
	padding-right: var(--number-32);
	/* 與右邊圖示保持距離 */
	display: flex;
	flex-direction: column;
	gap: var(--gap-title);
}

.heading .heading-title .title {
	margin-bottom: 0;
	line-height: 120%;
}

.heading .heading-title .description {
	line-height: 1.6;
	margin-bottom: 0;
}

.heading .heading-title .meta {
	display: flex;
	gap: var(--gap-title);
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading p {
	margin-bottom: 0;
}


/* Group Box ---------------------------------------------------------------- */

.group-box {
	display: flex;
	flex-direction: column;
	/* 讓內容由上往下排 */
	padding: var(--number-16);
	gap: var(--number-16);
}

.group-box .content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: stretch;
	gap: var(--gap-content);
}

.group-box .actions {
	margin-top: auto;
}

/* Solid */

.group-box.solid {
	border: 1px solid var(--color-text);
}

/* Dashed */

.group-box.dashed {
	border: 1px dashed var(--color-text);
}

/* Background Color */

.group-box.background3 {
	background-color: var(--color-background3);
}



/* Cards ---------------------------------------------------------------- */

.cards {
	display: flex;
	color: var(--cnvs-themecolor);
}

@media (max-width: 576px) {
	.cards {
		display: grid;
	}
}

.cards h2,
.cards h3,
.cards h4,
.cards h5 {
	margin-bottom: 0;
}

/* Background Horizontal */

.cards.background-horizontal {
	border-radius: var(--number-rounded);
	padding: var(--number-16) var(--number-12);
	gap: var(--number-24);
}

.cards.background-horizontal .image {
	flex-shrink: 0;
	overflow: hidden;
	max-width: var(--number-160);
	border-radius: var(--number-rounded);
}

.cards.background-horizontal .image img {
	object-fit: cover;
}

@media (max-width: 576px) {
	.cards.background-horizontal .image {
		max-width: fit-content;
	}
}

/* Border Horizontal */

.cards.border-horizontal {
	border: 1px solid var(--color-text);
	border-radius: var(--number-rounded);
	padding: var(--number-16) var(--number-12);
	gap: var(--number-24);
}

.cards.border-horizontal .image {
	flex-shrink: 0;
	overflow: hidden;
	max-width: var(--number-160);
	border-radius: var(--number-rounded);
}

.cards.border-horizontal .image img {
	object-fit: cover;
}

@media (max-width: 576px) {
	.cards.border-horizontal .image {
		max-width: fit-content;
	}
}

/* Border Vertical */

.cards.border-vertical {
	border: 1px solid var(--color-text);
	border-radius: var(--number-rounded);
	padding: var(--number-16) var(--number-12);
	gap: var(--gap-title);
	flex-direction: column;
}

/* Photo Text Media */

.cards.photo-text-media {
	flex-direction: column;
	gap: var(--gap-list);
}

.cards.photo-text-media h3 {
	margin-top: 0;
	font-size: var(--text-md);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
}

.cards.photo-text-media p {
	font-size: var(--text-md);
	font-weight: 300;
}

.cards.photo-text-media time {
	font-weight: 100;
}

.cards.photo-text-media .image {
	overflow: hidden;
	border-radius: var(--number-rounded);
}

/* Image Around */

.cards.image-around {
	position: relative;
	overflow: hidden;
	border-radius: var(--number-rounded);
}

.cards.image-around .content {
	position: absolute;
	max-width: 80%;
}

.cards.image-around .content.top-left {
	top: 10%;
	left: 10%;
}

.cards.image-around .content.bottom-left {
	bottom: 10%;
	left: 10%;
}



/* Bookmarks ---------------------------------------------------------------- */

.bookmarks {
	display: flex;
	flex-direction: column;
	gap: var(--gap-content);
	padding: var(--number-12);
	border-radius: var(--number-rounded);
}

.bookmarks h3 {
	font-size: var(--number-16);
	margin-top: var(--gap-content);
}

.bookmarks .image {
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	border-radius: var(--number-rounded);
}

.bookmarks .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.bookmarks h3,
.bookmarks li {
	margin-bottom: 0;
}


/* Rounded */

.bookmarks.bookmarks-rounded {
	flex-direction: row;
	border-radius: var(--number-160);
	border: 1px solid;
	align-items: center;
	gap: var(--gap-title);
}

.bookmarks.bookmarks-rounded p {
	line-height: 140%;
}

.bookmarks.bookmarks-rounded .number {
	font-size: var(--number-24);
	font-weight: bold;
}

/* Shadow */

.bookmarks.bookmarks-shadow {
	box-shadow: 0 0.25rem 1rem #0000001C;
}

/* Unactive */

.bookmarks.unactive {
	color: var(--color-gray);
	border-color: var(--color-gray);
}

.bookmarks.unactive h3 {
	color: var(--color-gray);
}



/* Divider ---------------------------------------------------------------- */

hr.bold {
	border-top: var(--number-10) solid;
	opacity: 1;
}



/* Blocks ---------------------------------------------------------------- */

.blocks {
	padding: var(--number-24) var(--number-32);
}

.blocks .content {
	display: flex;
	flex-direction: column;
	gap: var(--number-24);
}

.blocks .content h2,
.blocks .content h3,
.blocks .content p {
	margin-bottom: 0;
}

/* === custom.css === */
/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
	--cnvs-primary-menu-tt: none;
	--cnvs-primary-menu-submenu-tt: none;
}

.menu-link {
	text-transform: none;
}

ul, ol {
	padding-left: var(--number-32);
}

#footer .footer-widgets-wrap .widget ul,
#footer .widget ul {
	list-style: none;
	padding-left: 0;
}

#footer .footer-widgets-wrap .widget ul li,
#footer .widget ul li {
	padding-left: 0;
}

/* Form Styles */
.form-control:focus,
.form-select:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 0 0.2rem rgba(166, 123, 91, 0.25);
}

.form-check-input:checked {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.form-check-input:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 0 0.2rem rgba(166, 123, 91, 0.25);
}



/* === pages.css === */
/* Index ---------------------------------------------------------------- */

/* Hero */

.index #hero {
	background-image: url('../images/index/hero-mobile.webp');
	/* 設定背景圖片路徑 */
	background-size: cover;
	/* 讓圖片填滿整個區塊，不留白也不變形 */
	background-position: center center;
	/* 讓圖片中心點對齊 */
	background-repeat: no-repeat;
	/* 防止圖片重複 */
	padding: 100px 0;
	/* 設定上下間距，讓圖片有高度撐開（根據你的內容調整） */
}

@media (min-width: 768px) {
	.index #hero {
		background-image: url('../images/index/hero.webp');
	}
}

.index #hero .frame {
	background-color: #3E2723D1;
	border-radius: var(--number-rounded);
	padding: var(--number-8) var(--number-16);
}

.index #hero h1,
.index #hero p {
	color: var(--color-background1);
	margin-bottom: 0;
}

@media (min-width: 992px) {
	.index #hero {
		min-height: 40rem;
	}

	.index #hero .container {
		max-width: 48rem;
	}
}

/* News & Views */

.index #news h2 {
	font-size: var(--number-96);
	line-height: 1.2;
}

@media (max-width: 576px) {
	.index #news h2 {
		font-size: var(--number-48);
	}
}

.news #hero h1 {
	font-size: var(--number-96);
	line-height: 1.1;
}

@media (max-width: 991px) {
	.news #hero h1 {
		font-size: var(--number-64);
	}
}

@media (max-width: 576px) {
	.news #hero h1 {
		font-size: var(--number-48);
	}
}

/* Legendary */

.index #legendary {
	background-image: url('../images/index/legendary-wall.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
}


/* Worldview ---------------------------------------------------------------- */

.worldview #hero {
	text-align: center;
	background-image: url('../images/to-beginners/worldview-hero.webp');
	/* 設定背景圖片路徑 */
	background-size: cover;
	/* 讓圖片填滿整個區塊，不留白也不變形 */
	background-position: center center;
	/* 讓圖片中心點對齊 */
	background-repeat: no-repeat;
	/* 防止圖片重複 */
	padding: 100px 0;
	/* 設定上下間距，讓圖片有高度撐開（根據你的內容調整） */
}

@media (min-width: 1440px) {
	.worldview #hero .container {
		max-width: 37.5rem;
	}
}


/* Legendary ---------------------------------------------------------------- */

@media (max-width: 991px) {
	.legendary-page #hero img {
		max-width: 12.5rem;
	}
}

/* === widgets.css === */
/* Footer ---------------------------------------------------------------- */

.footer-widgets-wrap {
	display: flex;
	flex-direction: column;
	gap: var(--number-48);
}

#footer a, #footer p, #footer h4, #footer li::before {
	color: var(--color-background1);
}

#footer a:hover {
	color: var(--color-secondary);
}

#footer .button {
	border-color: var(--color-background1);
	background-color: var(--color-background1);
	color: var(--color-text);
}
#footer .button:hover {
	border-color: var(--color-background4);
	background-color: var(--color-background4);
	color: var(--color-text);
}

#footer .button.outline {
	background-color: transparent;
	color: var(--color-background1);
}
#footer .button.outline:hover {
	background-color: var(--color-background1);
	color: var(--color-text);
}

#footer .widget {
	padding: var(--number-24);
	border: 1px dashed var(--color-background1);
}

#footer .footer-widgets-wrap .widget {
	height: 100%;
}

#footer .footer-widgets-wrap .widget ol {
	padding-left: var(--number-24);
	color: var(--color-background1);
}

#footer .footer-widgets-wrap .widget li {
	padding-left: var(--number-6);
}

#footer .copyright {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--number-12);
	height: 100%;
}

#footer .copyright p {
  margin-bottom: 0;
}

#footer .copyright a {
	border-bottom: 1px dashed var(--color-background1);
}

@media (min-width: 1200px) {
	#footer .copyright {
		justify-content: flex-end;
	}
}






























