/* Index ---------------------------------------------------------------- */

/* News & Views */

.index-news {
	font-size: var(--number-96);
	line-height: 1.2;
}

@media ( max-width: 576px ) {
	.index-news {
		font-size: var(--number-48);
	}
}
























































































